@model IEnumerable<dneme2.Models.YükBilgi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Yükler</h1>
        <div class="d-inline-flex align-items-center text-white">
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" id="sa">
    <thead class="bg-primary text-white">
        <tr>
            <th>
                Yük Ağırlığı (TON)
            </th>
            <th>
                Yük Adeti
            </th>
            <th>
                Yük Güvenliği
            </th>
            <th>
                Yük Türü
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.YükAgir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YükMiktar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YükGüven)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YukTur)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdYükbil">Düzenle</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdYükbil">İncele</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdYükbil">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Kayıt Oluştur</a>
</p>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    var js = jQuery.noConflict(true);

    js(document).ready(function () {
        js('#sa').DataTable({

        });
    });
</script>